body{ background-image: url('https://images4.alphacoders.com/378/37864.jpg'); 
  background-size: cover; 
font-size: 15px; font-weight: bold;} 

h2{color:rgb(255, 255, 255); text-align:center;   font-weight: bold; 
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

}
p{color:rgb(255, 255, 255); font-family: "Times New Roman", Times, serif;   font-size: 40px;
}
